@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@400;500;600;700&display=swap");
body {
  color: rgb(12, 12, 12);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

ul,
ol {
  padding-left: 1.1rem !important;
}
ul li,
ol li {
  padding-left: 0.5rem;
}

.zoom-in {
  transition: ease all 0.3s;
}
.zoom-in:hover {
  transform: scale(1.05);
  transition: ease all 0.3s;
}

.section-titre {
  background-image: url("../../images/pattern-feuilles.jpg");
  object-fit: cover;
}

header {
  background-color: #e1f6b7;
}

.navbar__menu {
  padding-left: 0 !important;
}
.navbar__menu-item {
  font-family: "Raleway", sans-serif;
}
.navbar__menu-item:focus {
  color: #116329;
}
.navbar__menu-item--active {
  text-decoration: underline;
  color: #116329;
}
.navbar__button {
  color: #ffffff;
  background-color: #116329;
  font-weight: 600;
}
.navbar__button:hover, .navbar__button:focus {
  color: #ffffff;
  background-color: #c1495b;
  font-weight: 600;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important;
}

.footer {
  background-color: #116329;
  color: #ffffff;
}
.footer a:hover, .footer a:focus {
  color: #e1f6b7;
}
.footer__column {
  flex-basis: calc(33.3333333333% - 2rem);
}
.footer__logo {
  max-width: 250px;
}
.footer__title {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
}
.footer__menu {
  padding-left: 0 !important;
}
.footer__menu-item {
  padding-left: 0;
}
.footer__menu-item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 1536px) {
  .footer__logo {
    max-width: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__column:first-child {
    flex-basis: 100%;
  }
  .footer__column:nth-child(2), .footer__column:nth-child(3) {
    flex-basis: calc(50% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .footer__logo {
    max-width: 175px;
  }
  .footer__column:nth-child(2), .footer__column:nth-child(3) {
    flex-basis: 100%;
  }
}

#contact-info {
  position: relative;
  border-bottom: 3px solid transparent;
  transition: border-color 0.5s ease;
  width: fit-content;
  margin-left: auto;
}
#contact-info.scrolled {
  border-color: #fff;
}
@media (max-width: 1024px) {
  #contact-info {
    margin-right: auto;
    margin-left: unset;
  }
}

.section-a-propos__button, .cta-section__button, .intro-accueil__button {
  color: #ffffff;
  background-color: #116329;
  font-weight: 600;
}
.section-a-propos__button:hover, .cta-section__button:hover, .intro-accueil__button:hover, .section-a-propos__button:focus, .cta-section__button:focus, .intro-accueil__button:focus {
  color: #ffffff;
  background-color: #c1495b;
  font-weight: 600;
}

.intro-accueil__categories-collation, .intro-accueil__categories-dessert, .intro-accueil__categories-diner, .intro-accueil__categories-dejeuner {
  background-size: cover;
}

/* Section Catégories */
.intro-accueil__title {
  font-family: "DM Serif Display", serif;
}
.intro-accueil__categories a:focus {
  border-color: #c1495b;
}
.intro-accueil__categories-dejeuner {
  background-image: url("../../images/categorie-dejeuner.jpg");
}
.intro-accueil__categories-diner {
  background-image: url("../../images/categorie-diner-souper.jpg");
}
.intro-accueil__categories-dessert {
  background-image: url("../../images/categorie-dessert.jpg");
}
.intro-accueil__categories-collation {
  background-image: url("../../images/categorie-collation.jpg");
}
/* Section CTA Boîtes-repas */
.cta-section {
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, #e1f6b7 100%);
}
.cta-section__title {
  font-family: "DM Serif Display", serif;
}
/* Section À propos */
.section-a-propos {
  background: #e1f6b7;
  background: linear-gradient(180deg, #e1f6b7 0%, #ffffff 100%);
}
.section-recette-mois button:focus {
  border-color: #c1495b;
}
.section-recette-mois__title {
  font-family: "Raleway", sans-serif;
}
.section-recette-mois__name {
  font-family: "DM Serif Display", serif;
}
.section-recette-mois iframe {
  width: 100%;
}

.section-categories-recettes {
  background-color: #e1f6b7;
}
.section-categories-recettes a:focus {
  border-color: #c1495b;
}

.section-intro__button {
  color: #ffffff;
  background-color: #116329;
  font-weight: 600;
}
.section-intro__button:hover, .section-intro__button:focus {
  color: #ffffff;
  background-color: #c1495b;
  font-weight: 600;
}

.section-temoignages {
  background-color: #116329;
}

.section-abonnement {
  background-color: #e1f6b7;
}
.section-abonnement input,
.section-abonnement select,
.section-abonnement textarea {
  color: rgb(12, 12, 12);
  border-color: rgb(12, 12, 12);
}
.section-abonnement input:focus,
.section-abonnement select:focus,
.section-abonnement textarea:focus {
  border-color: #c1495b;
  border-width: 2px;
}
.section-abonnement button {
  color: #ffffff;
  background-color: #116329;
  font-weight: 600;
  width: fit-content;
}
.section-abonnement button:hover, .section-abonnement button:focus {
  color: #ffffff;
  background-color: #c1495b;
  font-weight: 600;
}
.section-abonnement .input-control.success input,
.section-abonnement .input-control.success select {
  border: 2px solid #116329;
}
.section-abonnement .input-control.error input,
.section-abonnement .input-control.error select {
  border: 2px solid rgb(203, 15, 15);
}
.section-abonnement .input-control .errorMessage {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color: rgb(203, 15, 15);
}
.section-abonnement .input-control span {
  color: rgb(203, 15, 15);
}

.offline-message {
  background-color: #116329;
}/*# sourceMappingURL=styles.css.map */