@use "variables";
@use "mixins";

%button {
	@include mixins.buttonColors(variables.$white, variables.$green);

	&:hover,
	&:focus {
		@include mixins.buttonColors(variables.$white, variables.$pink);
	}
}

%background-cover{
	background-size: cover;
}

/* Section Catégories */

.intro-accueil {
	&__title {
		font-family: variables.$font-headings;
	}

	&__categories {

		&-dejeuner {
			background-image: url("../../images/categorie-dejeuner.jpg");
			@extend %background-cover;
		}

		&-diner {
			background-image: url("../../images/categorie-diner-souper.jpg");
			@extend %background-cover;
		}

		&-dessert {
			background-image: url("../../images/categorie-dessert.jpg");
			@extend %background-cover;
		}

		&-collation {
			background-image: url("../../images/categorie-collation.jpg");
			@extend %background-cover;
		}
	}

	&__button {
		@extend %button;
	}
}

/* Section CTA Boîtes-repas */

.cta-section {
	background: variables.$white;
	background: linear-gradient(
		180deg,
		variables.$white 0%,
		variables.$lighter-green 100%
	);

	&__title {
		font-family: variables.$font-headings;
	}

	&__button {
		@extend %button;
	}
}

/* Section À propos */

.section-a-propos {
	background: variables.$lighter-green;
	background: linear-gradient(
		180deg,
		variables.$lighter-green 0%,
		variables.$white 100%
	);

	&__button {
		@extend %button;
	}
}
