@use "variables";

/* Section Catégories */

.intro-accueil {
	&__title {
		font-family: variables.$font-headings;
	}

	&__category {

		img {
			filter: brightness(40%);
		}

		h2 {
			transform: translate(-50%, -50%);
		}
	}

	&__button {
		background-color: variables.$pink;
		color: variables.$white;

		&:hover,
		&:focus {
			background-color: variables.$green;
			color: variables.$white;
		}
	}
}

/* Section CTA Boîtes-repas */

.cta-section {
	background: variables.$white;
	background: linear-gradient(
		180deg,
		variables.$white 0%,
		variables.$lighter-green 100%
	);

	&__title {
		font-family: variables.$font-headings;
	}
}

/* Section À propos */

.section-a-propos{
	background: variables.$lighter-green ;
	background: linear-gradient(
		180deg,
		variables.$lighter-green  0%,
		variables.$white 100%
	);
}
