@use "variables";
@use "mixins";

%button {
	@include mixins.buttonColors(variables.$white, variables.$green);

	&:hover,
	&:focus {
		@include mixins.buttonColors(variables.$white, variables.$pink);
	}
}

/* Section Catégories */

.intro-accueil {
	&__title {
		font-family: variables.$font-headings;
	}

	&__category {
		img {
			filter: brightness(40%);
		}

		h2 {
			transform: translate(-50%, -50%);
		}
	}

	&__button {
		@extend %button;
	}
}

/* Section CTA Boîtes-repas */

.cta-section {
	background: variables.$white;
	background: linear-gradient(
		180deg,
		variables.$white 0%,
		variables.$lighter-green 100%
	);

	&__title {
		font-family: variables.$font-headings;
	}

	&__button {
		@extend %button;
	}
}

/* Section À propos */

.section-a-propos {
	background: variables.$lighter-green;
	background: linear-gradient(
		180deg,
		variables.$lighter-green 0%,
		variables.$white 100%
	);

	&__button {
		@extend %button;
	}
}
