@use "variables";

.section-temoignages {
	background-color: variables.$green;
}

.section-abonnement {
	background-color: variables.$lighter-green;

	input,
	select,
	textarea {
		color: variables.$black;
		border-color: variables.$black;

		&:focus {
			border-color: variables.$green;
			border-width: 2px;
		}
	}

	&__button {
		background-color: variables.$green !important;
		width: fit-content;
	}

	.input-control {
		&.success {
			input,
			select {
				border-color: green;
			}
		}

		&.error {
			input,
			select {
				border-color: red;
			}
		}

		.errorMessage {
			font-size: 0.75rem;
			margin-top: 0.25rem;
			color: red;
		}

		span {
			color: red;
		}
	}
}
