@use "variables";
@use "mixins";

.section-intro {
	&__button {
		@include mixins.buttonColors(variables.$white, variables.$green);

		&:hover,
		&:focus {
			@include mixins.buttonColors(variables.$white, variables.$pink);
		}
	}
}

.section-temoignages {
	background-color: variables.$green;
}

.section-abonnement {
	background-color: variables.$lighter-green;

	input,
	select,
	textarea {
		color: variables.$black;
		border-color: variables.$black;

		&:focus {
			border-color: variables.$pink;
			border-width: 2px;
		}
	}

	button {
		@include mixins.buttonColors(variables.$white, variables.$green);
		width: fit-content;

		&:hover,
		&:focus {
			@include mixins.buttonColors(variables.$white, variables.$pink);
		}
	}

	.input-control {
		&.success {
			input,
			select {
				border: 2px solid variables.$green;
			}
		}

		&.error {
			input,
			select {
				border: 2px solid variables.$validation-red;
			}
		}

		.errorMessage {
			font-size: 0.75rem;
			margin-top: 0.25rem;
			color: variables.$validation-red;
		}

		span {
			color: variables.$validation-red;
		}
	}
}
