@use "variables";
@use "mixins";

header {
	background-color: variables.$lighter-green;
}

.navbar {
	&__menu {
		padding-left: 0 !important;
	}

	&__menu-item {
		font-family: variables.$font-body;

		&:focus {
			color: variables.$green;
		}

		&--active {
			text-decoration: underline;
			color: variables.$green;
		}
	}

	&__button {
		@include mixins.buttonColors(variables.$white, variables.$green);

		&:hover,
		&:focus {
			@include mixins.buttonColors(variables.$white, variables.$pink);
		}
	}
}
