@use "variables";

header {
	background-color: variables.$lighter-green;
}

.navbar {
	&__button {
		background-color: variables.$green;
		color: variables.$white;

		&:hover, &:focus {
			background-color: variables.$pink;
			color: variables.$white;
		}
	}

    &__menu-item{
        font-family: variables.$font-body;
        
        &:focus{
            color: variables.$green;
        }

        &--active{
            color: variables.$pink;
        }
    }
}
