@use "variables";

.section-recette-mois {
	button {
		&:focus {
			border-color: variables.$pink;
		}
	}

	&__title {
		font-family: variables.$font-body;
	}

	&__name {
		font-family: variables.$font-headings;
	}

	iframe {
		width: 100%;
	}
}

.section-categories-recettes {
	background-color: variables.$lighter-green;

	a {
		&:focus {
			border-color: variables.$pink;
		}
	}
}
