@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@400;500;600;700&display=swap');


$font-body: "Raleway", sans-serif;
$font-headings:'DM Serif Display', serif;

$green: #116329;
$lighter-green: #e1f6b7;
$pink: #c1495b;
$white: #ffffff;
$black: rgb(12, 12, 12);

$validation-red: rgb(203, 15, 15);
