@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Raleway:wght@400;500;600;700&display=swap');

$font-body: "Raleway", sans-serif;
$font-headings: "Fuzzy Bubbles", cursive;

$red: #ca2c1a;
$pink: #e15a6e;
$green: #116329;
$lighter-green: #d8e5bb;
$white: #ffffff;
$black: rgb(12, 12, 12);

$input-border: solid 2px rgb(12, 12, 12);
